/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

  --color-primary: hsl(217, 33%, 17%);
  --color-secondary: hsl(215, 25%, 27%);
  --color-bg: hsl(221, 30%, 82%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-transparent: hsla(0, 0%, 0%, 0);
  --color-semi: hsla(215, 25%, 27%, 0.041);
  --color-border: hsl(0, 0%, 80%);

  --transition: all 400ms ease-in-out;

  --shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-1: -20px 15px 5px hsla(0, 0%, 0%, 0.075);
  --shadow-2: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);


}

/*==========Base==========*/
body {
  background: var(--color-bg);
}


/*==========Chatbot==========*/
.chatbot {
  position: fixed;
  right: 2.5rem;
  bottom: 5.5rem;
  width: 420px;
  background: var(--color-white);
  color: var(--color-primary);
  border-radius: .5rem;
  box-shadow: var(--shadow-1);
  overflow: hidden;
  transform: scale(.5);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}
.top {
  position: relative;
  background: var(--color-primary);
  padding: 1rem 0;
  text-align: center;
}
.top h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-white);
}
.top span {
  position: absolute;
  top: 30%;
  right: 1.4rem;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}
.chatbox {
  height: 450px;
  padding: 1rem 1.2rem 4rem;
  overflow-y: hidden;
}
.chatbox .chat {
  display: flex;
}
.chat p {
  font-size: 1rem;
  color: var(--color-white);
  padding: .8rem 1rem;
  border-radius: .5rem .5rem 0 .5rem;
  max-width: 75%;
  background: var(--color-primary);
  box-shadow: var(--shadow);
}
.chatbox .incoming p {
  color: var(--color-black);
  background: var(--color-semi);
  border-radius: .8rem .8rem .8rem 0;
}
.chatbox .incoming span {
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow);
  text-align: center;
  line-height: 2rem;
  margin: 0 .8rem .5rem 0;
}
.chatbox .outgoing {
  margin: 1.1rem 0;
  justify-content: flex-end;
}
.chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--color-white);
  padding: 0 .8rem;
  border-top: 1px solid var(--color-border);
  display: flex;
}
.chat-input textarea {
  width: 100%;
  height: 3.5rem;
  font-size: 1rem;
  padding: 1rem .7rem .7rem 0;
  resize: none;
}
.chat-input .send-btn {
  align-self: flex-end;
  height: 3.5rem;
  line-height: 3.5rem;
  background: var(--color-transparent);
  font-size: 1.3rem;
  color: var(--color-primary);
  cursor: pointer;
  visibility: hidden;
  transition: var(--transition);
}
.chat-input textarea:valid ~ .send-btn {
  visibility: visible;
}

/*==========Toggle==========*/
.chatbot-toggle {
  position: fixed;
  right: 2.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatbot-toggle span {
  position: absolute;
  font-size: 1.7rem;
}
.chatbot-toggle span:last-child {
  opacity: 0;
  visibility: hidden;
}

/*==========JavaScript==========*/
.show-chatbot .chatbot {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
.show-chatbot .chatbot-toggle span:first-child  {
  opacity: 0;
  visibility: hidden;
}
.show-chatbot .chatbot-toggle span:last-child  {
  opacity: 1;
  visibility: visible;
}


/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
  .chatbot {
    bottom: 0;
    right: inherit;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 999;
  }
  .chatbox {
    height: 90%;
  }
  .top span {
    display: block;
  }

}